---
---
@import "main";

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    color:#69ace4;
}

.container-fluid {
    height: 100%;
    padding:0;
}

#row-primary {
    height: 100%;
}

#nav-col {
    display: flex;
	flex-direction: column;
    background-color: black;
    border-right:1px solid #f5e5d0;
}

#my-card {
    margin: 15px;
    border: none;
    background-color: black;
    text-align: center;
}

#my-card img {
    max-width: 70%;
    height: auto;
    max-height: 80%;
    border-radius: 50%;
}

#my-nav {
    height:70%;
}

#my-nav div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#my-nav div ul li {
    text-decoration: none;
}

#my-nav div ul li:last-child {
    border-bottom: none;
}

#my-nav div ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    color: #f5e5d0;
}

#my-nav div ul li a:hover {
    text-decoration: none;
    background-color: #f5e5d0;
    color: black;
}

#my-nav div ul li ul li a {
    padding-left: 35px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 16px;
}

#content-col {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:2%;
}

article {
    border: 1px solid #69ace4;
    width: 80%;
    margin:5% 10%;
    padding: 20px;
    color: #f5e5d0;
    border-radius: 5%;
}

article h1 {
    text-align:center;
    margin-bottom: 35px;
}

article div {
    text-align: justify;
}

article a {
    color: #77adda;
}

article a:hover {
    color: #77adda;
}

@media screen and (min-width: 540px) {
    #row-burger {
        display: none;
    }
}

#row-burger {
    background-color: black;
    border-right:1px solid #f5e5d0;
    margin: 0;
}

#my-burger {
    color: #f5e5d0;
}

#burger-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#burger-content ul li {
    text-decoration: none;
}

#burger-content ul li:last-child {
    border-bottom: none;
}

#burger-content ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    color: #f5e5d0;
}

#burger-content ul li a:hover {
    text-decoration: none;
    background-color: #77adda;
    color: black;
}

#burger-content ul li ul li a {
    padding-left: 35px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 16px;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.about {
    font-weight: bold;
}

.fact {
    font-style: italic;
}

.img-folio {
    width: 70%;
}