---
---

@import "{{ site.theme }}";

header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    border-bottom: solid 1px #275da1;
    background-color: #1468c5;
    background: linear-gradient(to right, #1468c5, #6fadf2);
}

#myTitle {
    font-size: 55px;
}

#myHeaderContent {
width: 70%;
}

#myBodyContent {
width: 70%;
}

#main-content {
width:70%;
}

#sidebar {
width:30%;
}

blockquote p {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1.6em;
    font-weight: normal;
    color: #257aba;
}

code {
    color: #2879d0;
    background-color: #fff;
    padding: 10px;
    border: solid 1px #f2f2f2;
}

.keywords {
    font-weight: bold;
}