---
---

@import "{{ site.theme }}";

#myTitle {
    font-size: 55px;
}

#myHeaderContent {
width: 70%;
}

#myBodyContent {
width: 70%;
}

#main-content {
width:70%;
}

#sidebar {
width:30%;
}

blockquote p {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1.6em;
    font-weight: normal;
    color: #257aba;
}

.keywords {
    font-weight: bold;
}