<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fr-FR' }}">
<head>
    <title>La Cordonie</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" media="screen" type="text/css">
    <!-- Meta for social medias -->
    {% seo %}
    {% if page.activeGraph == true %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.8.0/dist/mermaid.min.js"></script>
    {% endif %}
</head>

<body>
<header>
    <div style="display:flex;
  align-items:center;
  justify-content:start">
        <div>
            <img src="{{site.url}}/assets/img/logo-min-v2.jpg" alt="lacordony Logo"/>
        </div>
        <div>
            <h1>{{ site.title }}</h1>
        </div>
    </div>
</header>

<div id="myBodyContent">
    <section id="main-content">
        <h1>{{ page.title }}</h1>
        <p class="last-updated">Dernière modification : {{ page.last_updated }}</p>
        {% if page.category == "notes" or page.category == "blog" %}
        <div id="summary">
            <button id="summaryButton" type="button" onclick="displaySummary()">
                <img id="burger" src="{{site.url}}/assets/img/site/menu_FILL0_wght400_GRAD0_opsz24.svg" alt="Burger menu icon"/>
                <p id="summaryText">
                    SOMMAIRE</p>
            </button>
        </div>
        {% endif %}
        {{ content }}
    </section>
    {% include aside.html %}
</div>

</body>
<script>
    var element = document.getElementById("markdown-toc")
    element.classList.toggle("summaryHidden");

      function displaySummary() {
      console.log("displaySummary");
    var element = document.getElementById("markdown-toc")
    element.classList.toggle("summaryHidden");
    }

</script>

{% if page.activeGraph == true %}
<script>
    var config = {
    startOnLoad:true,
    theme: "default",
    flowchart:{
    useMaxWidth:false,
    htmlLabels:true
    }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));

</script>
{% endif %}
</html>
